# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules
.pnp
.pnp.js

# Produção / Build
dist
dist-ssr
*.local

# Editor de código / SO
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variáveis de ambiente
.env
.env.*.local

# Testes
coverage/

# TypeScript
*.tsbuildinfo